section.news-page
  div.container
    div.row
      div.col-12
        +title({title: 'Новости', h1: true})(class="title--center")

        div.news-page__lead
          p Мембранные клавиатуры и переключатели, какими они бывают..

  div.news-page__info
    div.container
      div.row
        div.col-12.col-md-6
          p.text Во многих отраслях промышленности и электроники применяются пленочные клавиатуры, которые прекрасно зарекомендовали себя. Такого рода устройства имеют ряд преимуществ. Они недорогие, надежные и компактные. Но одним из главных их достоинств является способность функционировать в специфических условиях, в том числе агрессивных и опасных средах.
          p.text  Чаще всего 
            a.news-page__link(href="#" target="_blank") мембранная клавиатура
            |  применяется в таких изделиях, как:

          ul.news-page__list
            li.news-page__list-item
              p.text медицинское оборудование;

            li.news-page__list-item
              p.text контрольно-измерительные приборы;

            li.news-page__list-item
              p.text транспортные панели водного, воздушного и наземного назначения;

            li.news-page__list-item
              p.text гражданская и военная система связи;

            li.news-page__list-item
              p.text бытовые и торговые приборы.

        div.col-12.col-md-6
          div.news-page__img
            img(src="images/news-page-img.jpg", alt="image")
            
  div.container
    div.row
        div.col-12
          h2.news-page__title Производство мембранных клавиатур
          p.text Для изготовления качественной продукции, которая будет соответствовать высоким требованиям, необходимо применение соответствующих методов производства, материалов, оборудования и профессионализма. В процессе создания используют определенные пленки из поликарбоната или же полиэфира, которые к тому же упрочняют специальными слоями.
          p.text В зависимости от назначения они могут быть:

          ul.news-page__list
            li.news-page__list-item
              p.text матовые;

            li.news-page__list-item
              p.text глянцевые;

            li.news-page__list-item
              p.text антибликовые;

            li.news-page__list-item
              p.text антибактериальные;

            li.news-page__list-item
              p.text с защитой от ультрафиолета;

            li.news-page__list-item
              p.text прорезиненные;

            li.news-page__list-item
              p.text устойчивые к царапинам.

          p.text Иногда 
            a.news-page__link(href="#" target="_blank") лицевые панели
            |  приборов должны иметь особые свойства, например тактильную чувствительность или устойчивость к повреждениям, в том числе химического характера. Именно пленочные клавиатуры могут обеспечить такой эффект.

          p.text Они состоят из склейки нескольких функциональных слоев, каждый из которых имеет свое особое назначение: это лицевая панель, две гибких платы, защита от адгезии, клеевое основание и внутренние слои клея, которые все это совмещают. В общей сложности все эти элементы при склейке образуют мембрану менее одного миллиметра толщиной. Такие габариты и небольшой вес позволяют использовать технологию для создания особо точных приборов.

          h2.news-page__title Дизайн
          p.text Существует довольно много возможностей разнообразить внешний вид мембранной клавиатуры. С помощью специальных реактивов получится добиться массы различных эффектов, даже частичных при такой необходимости. Кроме того, есть перспективы интеграции металлических элементов, антивандальных слоев, светодиодной подсветки, экранирующего слоя, индикаторов, токопроводящих элементов. Это обеспечивает возможность их применения практически в любых сферах жизни и производства, учитывая рекламу и дизайн.
