div.modal.modal-form(id="modal_contact")
	div.modal-form__top
		p.modal-form__title Оставьте Ваши контакты
		span.modal-form__text и мы свяжемся с Вами в ближайшее время!

	div.modal-form__body
		include ../form/form--contact.pug