section.news
  div.container
    div.row
      div.col-12
        +title({title: 'Новости', h1: true})(class="title--center")

  div.news__list
    div.container
      div.row
        div.col-12.col-md-6
          +news-item({img: 'news-item-img-1.jpg', alt: 'picture', title: 'Немного о пленочных клавиатурах', date: '2015-04-23 14:40:00', desc: 'Мембранная клавиатура (пленочная клавиатура) – это высокотехнологичный продукт постепенно вытесняющий стандартные механические клавиатуры, особенно ярко выражена тенденция перехода на мембранные клавиатуры в промышленной и медицинской сферах....', url: 'news-page.html'})

        div.col-12.col-md-6
          +news-item({img: 'news-item-img-2.jpg', alt: 'picture', title: 'Мембранные клавиатуры и переключатели, какими они бывают..', date: '2015-04-23 14:40:00', desc: 'Мембранные клавиатуры, мембранные переключатели – хорошо зарекомендовавший себя во всем мире продукт, применяющийся практически во всех отраслях промышленности. Эти недорогие, компактные, надежные устройства.', url: 'news-page.html'})
