div.stages-list
  div.stages-list__col-1
    +stage({number: '1', text: 'Собственное производство', img: 'stage__top-img1.png'})
    +stage({number: '2', text: 'Гибкое ценообразование', img: 'stage__top-img5.png'})(class="stage--bottom stage--bg-bottom")
    +stage({number: '3', text: 'Быстрые сроки изготовления', img: 'stage__top-img2.png'})

  div.stages-list__col-2
    +stage({number: '4', text: 'Европейское качество дизайна продукции', img: 'stage__top-img6.png'})(class="stage--bottom  stage--pd-117 stage--bg-bottom")           
        
  div.stages-list__col-3
    +stage({number: '5', text: 'Квалифицированный персонал', img: 'stage__top-img3.png'})
    +stage({number: '6', text: 'Индивидуальный подход', img: 'stage__top-img7.png'})(class="stage--bottom stage--bg-bottom") 
    +stage({number: '7', text: 'Несколько сотен постоянных клиентов', img: 'stage__top-img4.png'})