section.commodity
  div.container
    div.row
      div.col-12
        +title({title: 'Шильды и наклейки', h1: true})(class="title--center")

        div.commodity__lead
          h2 Шильдики, шильды и гарантийные пломбы: изготовление. 

  div.commodity__top
    div.container
      div.row
        div.col-12.col-md-6
          div.commodity__img
            img(src="images/commodity-img-1.jpg", alt="image")

        div.col-12.col-md-6
          div.commodity__top-desc
            p.text Каждый производитель и потребитель товаров народного потребления знает, что как у автомобиля есть номерной знак, так и у каждого прибора есть 
              strong шильда
              |.
            p.text Многие не обращают на неё внимания или вообще не подозревают о существовании подобного. Но 
              strong шильды 
              |необходимы любому прибору.
            p.text Ведь в случае поломки прибора лишь это поможет восстановить информацию о наименовании прибора и организации, которая его изготовила. 
              strong Шильдик
              |, как миниатюра паспорта, удостоверение личности и рекламная визитка.

  div.container
    div.row
      div.col-12
        p.text.text--mb51 В период строительства коммунизма и всеобщей стандартизации шильды были единственным способом для производителей продукции заявить о себе. В последнее же время, многие изготовители приборов поняли, что шильды – это дополнительная рекламная площадка. Изготавливаемые шильды перестают быть невзрачными серыми прямоугольниками с небольшим количеством текста, а становится маленькой рекламной вывеской. К тому же бумажная документация часто теряется или приходит в негодность с течением времени, а шильда всегда остаётся вместе с прибором и хранит информацию не только о названии или модели изделия, но и о предприятии изготовителе.

  div.container
    div.row
      div.col-12.col-md-7
        div.commodity__left
          p.text С развитием промышленности появилось много новых материалов, которые пригодны для изготовления 
            strong шильд
            |. 
          p.text Много новых способов  и технологий нанесения изображений, что тоже придает привлекательности данным элементам. Изготовленные нами шильдики становятся не только информативным, но и привлекательным. 
          p.text Так например, всем уже наверное знакомы объёмные этикетки. Их изготавливают, нанося на полотно толстый слой полимерного состава, заливая контур уже напечатанного изображения. Получается табличка с оптическим эффектом псевдо объема, производители рекламы и POS материалов зачастую назвают её - шильдик.
          p.text Этикетки на товарах и приборах – это самое распространенное использование шильд. И они тоже становятся яркими и привлекающими внимание. Производители стараются сделать их такими, чтобы у покупателя даже не возникало желания их удалить и выбросить.
          p.text 
            strong Изготовление шильд 
            |полностью зависит от выбранного материала и технологии нанесения изображения. Главное условие при изготовлении - шильдики должны быть максимально прочными, устойчивыми к механическим и иным повреждениям. 
          p.text Производство шильдов теперь не обходится без современных полимерных пленок и пластика, которые могут полностью заменить метал. 
          p.text Использовать полимерную пленку, полностью имитирующую поверхность металла. Нанести рисунок и надписи с помощью гравировки лазером. Любой такой «металлический» шильдик можно превратить в произведение искусства. Он будет не только информировать о товаре, но и создаст положительное впечатление о производителе.
          p.text Применение в аппаратуре самоклеющихся шильдиков, имитирующих металлические, снижает трудоемкость на их изготовление. 
          p.text Поверхность шильдиков устойчива к истиранию, масло-, бензостойкая. Информация на производимых шильдиках печатается красками устойчивыми к агрессивным воздействиям.

          h3.commodity__title Этикетки
          p.text Выполняются на самоклеющихся материалах (бумага, пленка) окрашенных и неокрашенных с нанесением рисунков и надписей методом трафаретной печати.

      div.col-12.col-md-5
        div.commodity__right
          div.commodity__img.commodity__img--mb35
            img(src="images/commodity-img-2.jpg", alt="image")
          div.commodity__img.commodity__img--mb35
            img(src="images/commodity-img-3.jpg", alt="image")
          div.commodity__img.commodity__img--mb35
            img(src="images/commodity-img-4.jpg", alt="image")
          div.commodity__img.commodity__img--mb35
            img(src="images/commodity-img-5.jpg", alt="image")

      div.col-12
        h3.commodity__title.commodity__title--pt4 Гарантийные пломбы
        p.text Гарантийные наклейки европейского стандарта изготавливаются на специальной самоклеющейся пломбовой бумаге или пленке. Они могут использоваться как снаружи, так и внутри изделий.

        p.text Основная функция гарантийных пломб – предотвращение несанкционированного доступа к узлам, деталям и компонентам любых механизмов, приборов и электронных устройств.

        div.commodity__lead.commodity__lead-pd
          h2 Примеры изготовленных шильдов, этикеток и гарантийных пломб:
    
    div.row
      div.col-12.col-md-4.col-lg-3
        div.commodity__product
          div.commodity__img-bottom
            img(src="images/commodity-img-6.jpg", alt="image")
          span.commodity__img-desc Шильд "Меркурий"

      div.col-12.col-md-4.col-lg-3
        div.commodity__product
          div.commodity__img-bottom
            img(src="images/commodity-img-7.jpg", alt="image")
          span.commodity__img-desc Гарантийная пломба "Техноас"
 
      div.col-12.col-md-4.col-lg-3
        div.commodity__product
          div.commodity__img-bottom
            img(src="images/commodity-img-8.jpg", alt="image")
          span.commodity__img-desc Гарантийная пломба "Прорыв"

      div.col-12.col-md-4.col-lg-3
        div.commodity__product
          div.commodity__img-bottom
            img(src="images/commodity-img-9.jpg", alt="image")
          span.commodity__img-desc Наклейка "Sfour"

      div.col-12.col-md-4.col-lg-3
        div.commodity__product
          div.commodity__img-bottom
            img(src="images/commodity-img-10.jpg", alt="image")
          span.commodity__img-desc Гарантийная пломба Гарантия от ООО «КолорЭлектроникс»

      div.col-12.col-md-4.col-lg-3
        div.commodity__product
          div.commodity__img-bottom
            img(src="images/commodity-img-11.jpg", alt="image")
          span.commodity__img-desc Шильд с серийными номерами

      
