.connection {
  /* 2 Block model */
  margin-bottom: 50px;

  @media(min-width: 768px) {
    /* 2 Block model */
    margin-bottom: 70px;
  }
  @media(min-width: 1400px) {
    /* 2 Block model */
    margin-bottom: 112px;
  }
}
/* 1 Positioning */

/* 2 Block model */

/* 3 Typography */

/* 4 Visual */

/* 5 Animation*/

/* 6 Misc */