section.page-404
  div.container
    div.row
      div.col-12
        span.page-404__error Ошибка 404
        h1.page-404__title К сожалению, этой страницы нет
        p.page-404__text Проверьте, правильно ли вы ввели адрес. 
          br
          |Правильно? Тогда, возможно, на сайте идут технические работы. 
          br
          |Обновите страницу через пару минут.

        +btn({text: 'Вернуться на главную', type: 'link', url: '/'})