.footer {
  /* 2 Block model */
  padding-top: 37px;
  padding-bottom: 37px;

  /* 4 Visual */
  background-color: #3b4f67;

  @media(min-width: 768px) {
    /* 2 Block model */
    padding-bottom: 70px;
  }
}
.footer__copy {
  /* 2 Block model */
  margin: 0;
  padding-top: 22px;

  /* 3 Typography */
  font-family: $font-main;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  color: $color-white;
}
.footer__info {
  /* 2 Block model */
  padding-top: 20px;

  @media(min-width: 768px) {
    /* 2 Block model */
    padding-top: 0;
  }
  @media(min-width: 992px) {
    /* 2 Block model */
    padding-top: 19px;
  }
}
.footer__info .icon-text {
  /* 2 Block model */
  margin-bottom: 24px;
}
.footer__info .icon-text:last-child {
  /* 2 Block model */
  margin-bottom: 0;
}
.footer__info .icon-text__link,
.footer__info .icon-text__text {
  /* 3 Typography */
  font-size: 16px;
  line-height: 18px;

  @media(min-width: 768px) {
    /* 3 Typography */
    font-size: 10px;
    line-height: 12px;
  }
  @media(min-width: 992px) {
    /* 3 Typography */
    font-size: 16px;
    line-height: 18px;
  }
}
.footer__pos-contact {
  /* 2 Block model */
  padding-top: 20px;

  @media(min-width: 768px) {
    /* 2 Block model */
    padding-top: 0;
  }
  @media(min-width: 992px) {
    /* 2 Block model */
    margin-left: -49px;
  }
}
.footer__link {
  /* 2 Block model */
  margin: 0;

  /* 3 Typography */
  font-family: $font-five;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: $color-white;
  text-decoration: underline;

  /* 5 Animation*/
  transition: all 0.4s;
}
.footer__link:hover {
  /* 4 Visual */
  opacity: 0.8;
}
.footer__pos-btn {
  /* 2 Block model */
  padding-top: 20px;
  padding-bottom: 20px;

  @media(min-width: 768px) {
    /* 2 Block model */
    padding-top: 0;
    padding-bottom: 0;
  }
  @media(min-width: 992px) {
    /* 2 Block model */
    margin-left: -50px;
  }
}
/* 1 Positioning */

/* 2 Block model */

/* 3 Typography */

/* 4 Visual */

/* 5 Animation*/

/* 6 Misc */