section.production
  div.container
    div.row
      div.col-12.col-md-5
        div.production__img
          img(src="images/production-img.jpg", alt="images")

      div.col-12.col-md-7
        div.production__info
          +title({title: 'Наше производство'})
          
          p.text Основным направлением деятельности нашей компании является разработка и изготовление  пленочных (мембранных) клавиатур и лицевых панелей приборов, для самых разных отраслей промышленности.
          p.text Мощнейшая производственная база в Москве, отлаженная система снабжения самыми современными материалами и комплектующими, а также коллектив, имеющий колоссальный совокупный опыт в данной отрасли, позволяют предоставлять заказчикам продукцию с безупречными потребительскими свойствами, в кратчайшие сроки и по разумной цене.
          p.text 
            span 100%
            |  продукции выпускается «под заказ», по предоставленному техническому заданию: к каждому разрабатываемому изделию применятся индивидуальный подход, максимально удовлетворяющий ожидания конкретного заказчика.

          div.production__action
            +btn({text: 'Наши работы', type: 'link', url: '#'})