doctype html
html(lang="ru")
	include include/head.pug
	+head('ColorElectronics - 404')

	body
		div.wrapper.body-bg
			include ../blocks/mixins.pug

			include ../blocks/header/header.pug

			include ../blocks/404/404.pug

			include ../blocks/footer/footer.pug

			include ../blocks/modal/modal.pug

			include ../blocks/to-top/to-top.pug

		include include/script.pug