doctype html
html(lang="ru")
	include include/head.pug
	+head('ColorElectronics - Каталог')

	body
		div.wrapper.body-bg
			include ../blocks/mixins.pug

			header.header
				div.header__top
					div.container
						div.row
							div.col-12
								div.header__top-body
									div.header__logo
										+logo({img: 'logo.png'})
									div.header__contacts
										+icon-text({icon: 'icon--clock-regr', text: 'Режим работы:<br>Пн-Пт - 09:00-18:00'})

										+icon-text({icon: 'icon--phone', text: '+7 (495) 640-02-01', url: '+74956400201', tel: true})

										+icon-text({icon: 'icon--envelope-reg', text: '6400201@colorel.ru', mailto: true})(class="icon-text--underline")

									button.header__btn(type="button")
										span.visually-hidden Открыть меню
										span.header__btn-visual

				div.header__body-menu
					div.container
						div.row
							div.col-12
								div.header__body-menu-action
									div
										+btn({text: 'Заказать звонок', type: 'link', url: '#modal_contact'})(class="btn--no-bg modal-link")

									button.header__btn(type="button")
										span.visually-hidden Открыть меню
										span.header__btn-visual


				div.header__body
					div.container
						div.row.align-items-center
							div.col-12
								div.header__menu
									nav.menu
										ul.menu__list
											li.menu__item
												a.menu__item-link(href="/") Главная

											li.menu__item.menu__item--active.menu__item--dropdown
												a(href="catalog").menu__item-link.menu__item-link--dropdown Продукция
												div
													ul.menu__list.menu__level-2
														li
															a(href="commodity") Пленочные клавиатуры

														li
															a(href="commodity") Приборные панели

														li
															a(href="commodity") Лицевые панели

														li
															a(href="commodity") Гибкие платы

														li
															a(href="commodity") Шильды и наклейки

														li
															a(href="commodity") Нагревательные элементы

											li.menu__item
												a.menu__item-link(href="clients") Заказчикам

											li.menu__item
												a.menu__item-link(href="photo-gallery") Фотогалерея

											li.menu__item
												a.menu__item-link(href="news") Новости

											li.menu__item
												a.menu__item-link(href="contacts") Контакты

									div
										+btn({text: 'Заказать звонок', type: 'link', url: '#modal_contact'})(class="btn--no-bg modal-link")

									a.header__tel(href="tel:+74956400201") +7 (495) 640-02-01

			div.catalog
				section.cat
					div.container
						div.row
							div.col-12
								+title({title: 'Спроектируем и изготовим', h1: true})(class="title--center")

					div.cat__list
						div.container
							div.row
								div.col-12.col-md-4
									+cat-item({title: 'Пленочные клавиатуры', img: 'cat-item-img-1.jpg', title_img: 'Пленочные клавиатуры'})

								div.col-12.col-md-4
									+cat-item({title: 'Приборные панели', img: 'cat-item-img-2.jpg', title_img: 'Приборные панели'})

								div.col-12.col-md-4
									+cat-item({title: 'Лицевые панели', img: 'cat-item-img-3.jpg', title_img: 'Лицевые панели'})

								div.col-12.col-md-4
									+cat-item({title: 'Гибкие платы', img: 'cat-item-img-4.jpg', title_img: 'Гибкие платы'})

								div.col-12.col-md-4
									+cat-item({title: 'Шильды и наклейки', img: 'cat-item-img-5.jpg', title_img: 'Шильды и наклейки'})

								div.col-12.col-md-4
									+cat-item({title: 'Нагревательные элементы', img: 'cat-item-img-6.jpg', title_img: 'Нагревательные элементы'})

				div.container
					div.row
						div.col-12
							div.catalog__info
								+title({title: 'Реализуем любое изделие по требованию заказчика'})(class="title--center")
								p.text Основным направлением деятельности Компании является разработка и изготовление пленочных (мембранных) клавиатур и лицевых панелей приборов, для самых разных отраслей промышленности.
								p.text Мощнейшая производственная база в Москве, отлаженная система снабжения самыми современными материалами и комплектующими, а также коллектив, имеющий колоссальный совокупный опыт в данной отрасли, позволяют предоставлять заказчикам продукцию с безупречными потребительскими свойствами, в кратчайшие сроки и по разумной цене.
								p.text 100% продукции выпускается «под заказ», по предоставленному техническому заданию, т.е. к каждому разрабатываемому изделию применятся индивидуальный подход, максимально удовлетворяющий ожидания конкретного заказчика.
								p.text На сегодняшний день постоянными клиентами компании являются несколько сотен компаний из России и ближнего зарубежья. Большая часть из них обратилась к нам по положительным отзывам коллег, знакомых и друзей. Мы безгранично дорожим теплыми и доверительными отношениями со всеми, кто выбрал нас в качестве поставщика и всегда готовы к новым, интересным знакомствам.
								p.text ООО "КолорЭлектроникс".
									br
									|Друзьям рекомендуют НАС!

				include ../blocks/ask-qustion/ask-qustion.pug 

			include ../blocks/footer/footer.pug

			include ../blocks/modal/modal.pug

			include ../blocks/to-top/to-top.pug

		include include/script.pug