section.realization
  div.container
    div.row
      div.col-12
        +title({title: 'Продуманный подход к реализации Вашего проекта'})

    div.row
      div.col-12
        include ../stages-list/stages-list.pug