div.slider-top
  div.slider-top__item
    div.container
      div.row
        div.col-12
          div.slider-top__body
            h1.h1 Инновационный подход к дизайну Вашего оборудования
            p.lead Разработка комплектующих для приборов различных отраслей промышленности
            +btn({text: 'Смотреть каталог', type: 'link', url: 'catalog.html'})(class="btn--md")

  div.slider-top__item
    div.container
      div.row
        div.col-12
          div.slider-top__body
            h1.h1 Пленочные клавиатуры, панели, шильды для приборостроения
            p.lead Изготовим изделие на заказ по  техническому заданию заказчика
            +btn({text: 'Смотреть каталог', type: 'link', url: 'catalog.html'})(class="btn--md")