section.project-realization
  div.container
    div.row
      div.col-12
        +title({title: 'Реализуем любое изделие по требованию заказчика'})

        p.text Весь производственный процесс, включающий в себя печать и нанесение покрытий, механическую и лазерную обработку реализуется на территории собственного производства. 

        p.text Возможно любое исполнение, любая текстура, толщина пленки от 
          b 125 до 275 мкм 
          | и более.

        img.project-realization__img(src="images/project-realization-img.png", alt="проект")