section.photo-gallery
  div.container
    div.row
      div.col-12
        +title({title: 'Фотогалерея', h1: true})(class="title--center")

        p.text.text--reg На сегодняшний день постоянными клиентами компании являются несколько сотен компаний из России и ближнего зарубежья. Большая часть из них обратилась к нам по положительным отзывам коллег, знакомых и друзей. Мы безгранично дорожим теплыми и доверительными отношениями со всеми кто выбрал нас в качестве поставщика и всегда готовы к новым, интересным знакомствам.

        p.text.text--reg ООО "КолорЭлектроникс".
          br
          |Друзьям рекомендуют НАС!


  //- div.photo-gallery__images
  //-   div.photo-gallery__images-top
  //-     div.container
  //-       div.row
  //-         div.col-12.col-md-4
  //-           a.photo-gallery__link(href="images/photo-gallery-img-1.jpg")
  //-             img(src="images/photo-gallery-img-1.jpg", alt="image")
            

  //-         div.col-12.col-md-8
  //-           div.photo-gallery__top
  //-             div.photo-gallery__top-left
  //-               a.photo-gallery__link(href="images/photo-gallery-img-2.jpg")
  //-                 img(src="images/photo-gallery-img-2.jpg", alt="image")
  //-               a.photo-gallery__link(href="images/photo-gallery-img-3.jpg")
  //-                 img(src="images/photo-gallery-img-3.jpg", alt="image")

  //-             div.photo-gallery__top-rigt
  //-               a.photo-gallery__link(href="images/photo-gallery-img-4.jpg")
  //-                 img(src="images/photo-gallery-img-4.jpg", alt="image")

  //-           a.photo-gallery__link(href="images/photo-gallery-img-5.jpg")
  //-             img(src="images/photo-gallery-img-5.jpg", alt="image")

  //-   div.photo-gallery__images-body
  //-     div.container
  //-       div.row
  //-         div.col-12.col-md-3
  //-           a.photo-gallery__link(href="images/photo-gallery-img-6.jpg")
  //-             img(src="images/photo-gallery-img-6.jpg", alt="image")

  //-         div.col-12.col-md-4
  //-           a.photo-gallery__link(href="images/photo-gallery-img-7.jpg")
  //-             img(src="images/photo-gallery-img-7.jpg", alt="image")

  //-         div.col-12.col-md-5
  //-           a.photo-gallery__link(href="images/photo-gallery-img-8.jpg")
  //-             img(src="images/photo-gallery-img-8.jpg", alt="image")

  //-   div.photo-gallery__images-bottom
  //-     div.container
  //-       div.row
  //-         div.col-12.col-md-5
  //-           a.photo-gallery__link(href="images/photo-gallery-img-9.jpg")
  //-             img(src="images/photo-gallery-img-9.jpg", alt="image")

  //-         div.col-12.col-md-4
  //-           div.photo-gallery__bottom
  //-             a.photo-gallery__link(href="images/photo-gallery-img-10.jpg")
  //-               img(src="images/photo-gallery-img-10.jpg", alt="image")
  //-             a.photo-gallery__link(href="images/photo-gallery-img-11.jpg")
  //-               img(src="images/photo-gallery-img-11.jpg", alt="image")

  //-         div.col-12.col-md-3
  //-           a.photo-gallery__link(href="images/photo-gallery-img-12.jpg")
  //-             img(src="images/photo-gallery-img-12.jpg", alt="image")

  div.container
    div.row
      div.col-12
        div.am-container.photo-gallery__images
          a.photo-gallery__link(href="images/photo-gallery-img-1.jpg")
            img.montage(src="images/photo-gallery-img-1.jpg", alt="image")
    
          a.photo-gallery__link(href="images/photo-gallery-img-2.jpg")
            img.montage(src="images/photo-gallery-img-2.jpg", alt="image")

          a.photo-gallery__link(href="images/photo-gallery-img-3.jpg")
            img.montage(src="images/photo-gallery-img-3.jpg", alt="image")

          a.photo-gallery__link(href="images/photo-gallery-img-4.jpg")
            img.montage(src="images/photo-gallery-img-4.jpg", alt="image")

          a.photo-gallery__link(href="images/photo-gallery-img-5.jpg")
            img.montage(src="images/photo-gallery-img-5.jpg", alt="image")

          a.photo-gallery__link(href="images/photo-gallery-img-6.jpg")
            img.montage(src="images/photo-gallery-img-6.jpg", alt="image")

          a.photo-gallery__link(href="images/photo-gallery-img-7.jpg")
            img.montage(src="images/photo-gallery-img-7.jpg", alt="image")

          a.photo-gallery__link(href="images/photo-gallery-img-8.jpg")
            img.montage(src="images/photo-gallery-img-8.jpg", alt="image")

          a.photo-gallery__link(href="images/photo-gallery-img-9.jpg")
            img.montage(src="images/photo-gallery-img-9.jpg", alt="image")

          a.photo-gallery__link(href="images/photo-gallery-img-10.jpg")
            img.montage(src="images/photo-gallery-img-10.jpg", alt="image")

          a.photo-gallery__link(href="images/photo-gallery-img-11.jpg")
            img.montage(src="images/photo-gallery-img-11.jpg", alt="image")

          a.photo-gallery__link(href="images/photo-gallery-img-12.jpg")
            img.montage(src="images/photo-gallery-img-12.jpg", alt="image")

