include btn/btn.pug
include icon/icon.pug 
include title/title.pug 
include stage/stage.pug 
include cat-item/cat-item.pug
include logo/logo.pug
include information/information.pug
include checkbox/checkbox.pug 
include input/input.pug 
include textarea/textarea.pug 
include news-item/news-item.pug
include icon-text/icon-text.pug  