script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js")
script(src="js/jquery.modal.min.js")
script(src="js/slick.min.js")
script(src="js/jquery.magnific-popup.min.js")
script(src="js/jquery.mask.min.js")
script(src="js/jquery.montage.min.js")
script(src="js/svg4everybody.min.js")
script
	|$(document).ready(function () {	svg4everybody({});});
script(src="js/script.js")