nav.menu
	ul.menu__list
		li.menu__item.menu__item--active
			a.menu__item-link(href="/") Главная

		li.menu__item.menu__item--dropdown
			a(href="catalog.html").menu__item-link.menu__item-link--dropdown Продукция
			div
				ul.menu__list.menu__level-2
					li
						a.menu__level-2__item-active(href="commodity.html") Пленочные клавиатуры

					li
						a(href="commodity.html") Приборные панели

					li
						a(href="commodity.html") Лицевые панели

					li
						a(href="commodity.html") Гибкие платы

					li
						a(href="commodity.html") Шильды и наклейки

					li
						a(href="commodity.html") Нагревательные элементы

		li.menu__item
			a.menu__item-link(href="clients.html") Заказчикам

		li.menu__item
			a.menu__item-link(href="photo-gallery.html") Фотогалерея

		li.menu__item
			a.menu__item-link(href="news.html") Новости

		li.menu__item
			a.menu__item-link(href="contacts.html") Контакты