div.form
	form.form__form(action="#" method="post")
		div.form__body
			div.form__item
				+input({type: 'text', name: 'name_1', placeholder: 'Имя <span>*</span>'})
			div.form__item
				+input({ type: 'tel', name: 'tel_1', placeholder: 'Номер телефона <span>*</span>'})(class='input--phone')
			div.form__item
				+input({type: 'email', name: 'email_1', placeholder: 'Электронная почта <span>*</span>'})

			div.form__textarea
				+textarea({name: 'message', rows: '10', placeholder: 'Сообщение <span>*</span>'})
		div.form__check
			+checkbox({name: 'accept'})(label_class='visually-hidden')
			p.form__check-text Я принимаю 
				a.form__check-link(href="#" target="_blank") Условия использования
				|  и 
				a.form__check-link(href="#" target="_blank") Политику конфиденциальности

		div.forma__action
			+btn({text: 'Отправить', type: 'submit'})