section.clients
  div.container
    div.row
      div.col-12 
        +title({title: 'Заказчикам', h1: true})(class="title--center")

        div.clients__qustion
          p Технические требования. 
          p Требования и рекомендации к оформлению новых заказов.

        p.text.text--reg Мы разрабатываем и производим 
          a.clients__link(href="#") гибкие пленочные клавиатуры
          |  в соответствии с Техническим заданием заказчика. Максимальные размеры изделия: 
          b 700&times;700&nbsp;мм
          |.

        +information({title: 'Техническое задание', img: 'information-icon-1.png'})

        p.text.text--reg.text--pl7 В Техническом задании должны быть указаны следующие параметры:

        ul.clients__list-lap
          li.clients__item-lap
            div.clients__item-lap-number 1
            p Габаритные, присоединительные и установочные размеры;
          li.clients__item-lap
            div.clients__item-lap-number 2
            p Расположение осей кнопок;
          li.clients__item-lap
            div.clients__item-lap-number 3
            p Место выхода и длина шлейфа;
          li.clients__item-lap
            div.clients__item-lap-number 4
            p Электрическая принципиальная схема клавиатуры;
          li.clients__item-lap
            div.clients__item-lap-number 5
            p Наличие формованных элементов;
          li.clients__item-lap
            div.clients__item-lap-number 6
            p Лицевая поверхность глянцевая или матовая;
          li.clients__item-lap
            div.clients__item-lap-number 7
            p Окна под индикаторы: матовые, прозрачные или полностью вырубленные;
          li.clients__item-lap
            div.clients__item-lap-number 8
            p Тактильный эффект: клавиатура с мембранами или без;
          li.clients__item-lap
            div.clients__item-lap-number 9
            p Цветовое решение лицевой панели (Окончательная цветовая гамма выбирается у нас по каталогу PANTONE).

        div.clients__qustion.clients__qustion--ptb
          p Проектные и технологические нормы

        p.text.text.text--reg Раздел содержит рекомендуемые проектные и технологические нормы, которые следует учесть при подготовке заказа. Учёт изложенных норм позволит сократить время согласования заказа и гарантирует соответствие изделий техническим параметрам. Необходимость изменения значений или значения не указанные в нормах обсуждаются индивидуально.

        +information({title: 'Графика', img: 'information-icon-2.png'})

        ul.clients__list-number
          li.clients__item-number
            span 1.
            p минимальная толщина свободных линий 
              b 0,3&nbsp;мм
              |.
          li.clients__item-number
            span 2.
            p минимальная ширина зазора между свободными линиями 
              b 0,3&nbsp;мм
              |.
          li.clients__item-number
            span 3.
            p минимальная толщина линий для перекрытия цветов 
              b 0,6&nbsp;мм
              |.

          li.clients__item-number
            span 4.
            p для мелкосерийных партий и малогабаритных изделий минимальная толщина свободных линий и ширина зазора между ними 
              b 0,2&nbsp;мм
              |, минимальная толщина линий для перекрытия цветов 
              b 0,5&nbsp;мм
              |.

          li.clients__item-number
            span 5.
            p расположение графических элементов, в т.ч. прозрачные окна под дисплей и индикатор, при печати выполняется по 
              b 12-ому квалитету точности
              |.

        +information({title: 'Размеры', img: 'information-icon-3.png'})
        p.text.text--reg Максимальный размер печатного кадра 
          b 800&times;600&nbsp;мм
          |. габаритные размеры и вырубные элементы выполняется по 
          b 12-ому квалитету точности
          |.

        +information({title: 'Вырубные и прозрачные окна', img: 'information-icon-4.png'})
        p.text.text--reg Минимальный диаметр вырубного окна 
          b 3&nbsp;мм
          |, прозрачного 
          b 1&nbsp;мм
          |. Минимальное расстояние от края окна до контура изделия 
          b 5&nbsp;мм
          |.

        +information({title: 'Электрическая схема и шлейф', img: 'information-icon-5.png'})

        ul.clients__list-number.clients__list-number--pb22
          li.clients__item-number
            span 1.
            p реализуется практически любой вид коммутации клавиш и шаг контактов на шлейфе.
          li.clients__item-number
            span 2.
            p минимальное расстояние места выхода шлейфа от края клавиатуры 
              b 4&nbsp;мм
              |.
          li.clients__item-number
            span 3.
            p минимальное расстояние от края контакных площадок на плате до контура изделия 
              b 5&nbsp;мм
              |.

          li.clients__item-number
            span 4.
            p минимальная ширина токопроводящей дорожки 
              b 0,5&nbsp;мм
              |.
        p.text.text--reg Минимальное расстояние между токопроводящими дорожками 
          b 0,5&nbsp;мм
          |.

        +information({title: 'Формовка клавиш', img: 'information-icon-6.png'})

        ul.clients__list-number
          li.clients__item-number
            span 1.
            p максимальное поле фомовки 
              b 400&times;350&nbsp;мм
              |.
          li.clients__item-number
            span 2.
            p для клавиатуры с металлическими мембранами рекомендуется формовка высотой 
              b 0,4&nbsp;&mdash;&nbsp;0,45&nbsp;мм
              |.
          li.clients__item-number
            span 3.
            p для клавиатуры без мембран рекомендуется формовка высотой 
              b 0,5&nbsp;&mdash;&nbsp;0,6&nbsp;мм
              |, для получения тактильного эффекта высотой 
              b 0,75&nbsp;&mdash;&nbsp;0,85&nbsp;мм
              |, с диаметром сферы 
              b 10&nbsp;&mdash;&nbsp;13&nbsp;мм
              |.

          li.clients__item-number
            span 4.
            p для декоративных панелей возможна формовка произвольной формы высотой 
              b 0,3&nbsp;&mdash;&nbsp;0,4&nbsp;мм
              |.
          li.clients__item-number
            span 5.
            p формовку под светодиоды рекомендуется выполнять высотой 
              b 0,5&nbsp;&mdash;&nbsp;1&nbsp;мм
              |  при диамере окна 
              b 3,5&nbsp;&mdash;&nbsp;6&nbsp;мм
              |.

          li.clients__item-number
            span 6.
            p минимальное расстояние от края прозрачного окна или изделии до края формованного элемента 
              b 5&nbsp;мм
              |.