div.ask-qustion.micro
	div.container
		div.row
			div.col-12
				div.ask-qustion__qustions
					p.text Не нашли то, что искали?
					p.text Напишите нам, и мы свяжемся с Вами в течении  
						span 
							b 15 
						|минут!
				+btn({text: 'Задать вопрос', type: 'link', url: '#'})